.main-container {
  background-color: black;
}
.two-container-divider {
  display: flex;
  flex-direction: row;
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.job-profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 200px;
  width: 300px;
  margin: 40px;
  padding: 10px;
  background-size: cover;
  border-radius: 8px;
}

.render-profile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hr-line {
  width: 290px;
  line-height: 10px;
  margin-left: 80px;
}

.render-job-item-container {
  width: 100%;
  list-style-type: none;
}
.jobs-container {
  width: 50%;
  height: 40%;
}
.input-search {
  margin-top: 40px;
  height: 30px;
  width: 300px;
  margin-left: 40px;
  padding: 5px;
  background-color: black;
  color: white;
}
.search-icon {
  background-color: #272727;
  color: white;
  height: 15px;
}
.btn-search {
  background-color: #272727;
  height: 30px;
  width: 60px;
}
.retry-button {
  color: white;
  background-color: #4f46e5;

  padding: 5px;
  height: 30px;
  width: 110px;
  border-radius: 5px;
}
.retry-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.failure-heading {
  color: white;
}
.failure-paragraph {
  color: white;
}
.no-job-paragraph {
  color: white;
}
.no-job-heading {
  color: white;
}
